* {
  font-family: 'Kumbh Sans', sans-serif;
  box-sizing: border-box;
}

:root {
  --dark-cyan: #19a2ae;
  --dark-desaturated-blue: #2d3248;
  --dark-grayish-blue: #6a6f81;
  --dark-gray: #969696;
}

:root, html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  background: url(../images/bg-pattern-top.svg) right 35vw top -30vh, 
              url(../images/bg-pattern-bottom.svg) left 35vw bottom -30vh;
  background-color: #19a2ae;
  background-color: var(--dark-cyan);
  background-repeat: no-repeat;
  background-size: 150%;
  height: 100vh;
}

ul[class] {
  list-style: none;
}

p, ul {
  margin: 0;
  padding: 0;
}